<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylemenc.css">
    <title>Consulta por categoria</title>
</head>
<body>
    <nav class="menu">
        <a href="/menub" class="item">Volver al menu</a>
        <a href="/cerrar" class="item">Cerrar sesion</a>
        <a href="" class="item"><p><%=uss%></p></a>
       

        <div class="back-menu"></div>
    </nav>

    <section class="conoce">
        <h2 class="titulo">Consulta por categoria</h2>
         
        <div class="contconoce">
            <p>Aqui conocerás todos los vehiculos disponibles para la venta segun la categoria que estes buscando</p>
        </div>
   
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/automoviles.jpg">
                </figure>
                <div class="contenido">
                    <h3>1.AUTOMOVIL</h3>
                    <a href="/cona1">Consultar</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../imagenes/camioneta.jpg">
                </figure>
                <div class="contenido">
                    <h3>2.CAMIONETA</h3>
                    <a href="/cona2">Consultar</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="../imagenes/camion.jpg">
                </figure>
                <div class="contenido">
                    <h3>3.CAMION</h3>
                    <a href="/cona3">Consultar</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="../imagenes/furgon.jpg">
                </figure>
                <div class="contenido">
                    <h3>4.FURGONETA</h3>
                    <a href="/cona4">Consultar</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="../imagenes/bus.jpg">
                </figure>
                <div class="contenido">
                    <h3>5.BUS</h3>
                    <a href="/cona5">Consultar</a>
                </div>
            </div>
     
        </div>
    
        
    </section>
</body>
</html>