<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylemena.css">
    <title>Menu administrador</title>
</head>
<body>
    <nav class="menu">
        <a href="/usuario" class="item">Registrar un usuario</a>
        <a href="/datosp" class="item">Datos personales</a>
        <a href="/cerrar" class="item">Cerrar sesion</a>
        <a href="" class="item"><p><%=uss%></p></a>

        <div class="back-menu"></div>
    </nav>

    <section class="conoce">
        <h2 class="titulo">Bienvenid@ al menu de administrador </h2>
   
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/comprar.jpg">
                </figure>
                <div class="contenido">
                    <h3>Ir a la vista de comprador</h3>
                    <a href="/menub">Ir a la vista</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../imagenes/vender.jpg">
                </figure>
                <div class="contenido">
                    <h3>Ir a la vista de vendedor</h3>
                    <a href="/regsveh">Ir a la vista</a>
                </div>
            </div>
     
        </div>
    
        
    </section>
</body>
</html>