<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylemenb.css">
    <title>Menu Comprador</title>
</head>
<body>
    <nav class="menu">
        <a href="/cerrar" class="item">Cerrar sesion</a>
        <a href="" class="item"><p><%=uss%></p></a>
        

        <div class="back-menu"></div>
    </nav>

    <section class="conoce">
        <h2 class="titulo">Bienvenid@ al menu de Comprador </h2>
   
        <div class="container">
            <div class="card">
                <figure>
                    <img src="../imagenes/categoria.jpg">
                </figure>
                <div class="contenido">
                    <h3>Consulte por categoria</h3>
                    <a href="/menuc">Consultar</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="../imagenes/precio.png">
                </figure>
                <div class="contenido">
                    <h3>Consulte por precio</h3>
                    <a href="/conpre">Consultar</a>
                </div>
            </div>
     
        </div>
    
        
    </section>
</body>
</html>